rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users should only be able to read and write to their own document.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // A user can read, write, and delete their own vaccination records.
    match /users/{userId}/userVaccinations/{vaccinationId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
    
    // The list of available vaccinations should be public for all authenticated users to read.
    // No one should be able to write to it from the client.
    match /vaccinations/{vaccineId} {
        allow read: if request.auth != null;
        allow write: if false;
    }
  }
}
